<%- contentFor('title') %>
404 Not Found
<%- contentFor('body') %>
<div class="container text-center" style="margin-top: 300px;   " >
    <h1>404 Not found error</h1>
    <a href="/" class="btn btn-danger">Home</a>
</div>