<%- contentFor('title') %>
Home

<%- contentFor('body') %>
<div class="container text-center" style="margin-top: 300px">
    <div class="title">
        <h1>Home Page</h1>
    </div>
    <div class="buttons">

        <a href="/auth/login" class="btn btn-primary">
            Login
        </a>
        <a href="/auth/sign-up" class="btn btn-primary">
            Sign up
        </a>

    </div>
</div>
